---
import Navbar from '../components/Navbar/Navbar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar client:load />
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--title-color: #2c3e50;
		--background-color: #fff;
		--secondary-background-color: #95a5a6;
		--accent-background-color: #3498db;
		--buttons-background-color: #2ecc71;
		--text-color: #34495e;
	}
	body{margin:0;}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--title-color);
		font-family: 'Montserrat';
		font-weight: 500;
		
	}
	button {
		padding: 0.5rem 1rem;
		background-color: var(--buttons-background-color);
		color: var(--background-color);
		border: 1px solid var(--buttons-background-color);
		border-radius: 5px;
	}

	button:hover {
		background-color: var(--background-color);
		transform: scale(1.2);
		transition-duration: 500ms;
		color: var(--buttons-background-color);
		cursor: pointer;
	}
	p{
		font-family: 'Roboto';
		color: var(--text-color);
		font-size: 1rem;
	}
</style>
