---
---

<nav>
    <ul class="nav__links">
        <li><a href="">Dashboard</a></li>
        <li><a href="">Your Curses</a></li>
        <li><a href="">All Courses</a></li>
    </ul>
</nav>

<style>
    /* Movile Responsive */

    @media screen and (max-width: 600px) {
        .nav__links{
            display:none;
        }
    }

    .nav__links{
        display:flex;
        flex-direction: row;
        gap:2rem;
        font-family: 'Montserrat';
        font-weight: 500;
        list-style-type: none;
    }
    .nav__links a{
        text-decoration: none;
        color:var(--background-color);

    }
    .nav__links a:hover{
        color:antiquewhite;
        transform: scale(1.5);
        text-decoration: underline;
        text-decoration-color: antiquewhite;
        text-de
        transition-duration: 500ms;
    }
    li:hover{
        transform:scale(1.1);
        transition-duration: 500ms;
    }
</style>