---

---

<div class="login__buttons__container">
    <button>Sign Up</button>
    <button>Log In</button>
</div>


<style>
    .login__buttons__container{
        display: flex;
        flex-direction: row;
        gap:1rem;
        padding:1rem;
    }
</style>