---
---

<h1 class="navbar__logo">Free Code Course</h1>

<style>
    .navbar__logo{
        font-size: 1.5rem;
        font-family: 'Press Start 2P';
        color: var(--background-color);
    }
</style>